@charset "UTF-8";
/*
CSS Yazar - UI Tasarım: Mustafa BAL
Portfolyo: http://www.mustafabal.co
*/

body {
    min-width: 1000px;
    font-family: 'Titillium Web', Arial sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

input, textarea {
    outline: none;
}

:focus, :active {
    outline: 0 !important;
}

ol, ul {
    padding-left: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-slider {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.m0 {
    margin: 0 !important;
}

.p0 {
    padding: 0 !important;
}

.mt {
    margin-top: 20px;
}

.mb {
    margin-bottom: 20px;
}

.ml {
    margin-left: 20px;
}

.mr {
    margin-right: 20px;
}

.pt {
    padding-top: 20px;
}

.pr {
    padding-right: 20px;
}

.pb {
    padding-bottom: 20px;
}

.pl {
    padding-left: 20px;
}

.mt5 {
    margin-top: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.pt5 {
    padding-top: 5px;
}

.pb5 {
    padding-bottom: 5px;
}

.margin0-0 {
    margin: 0 0 !important;
}

.margin10-0 {
    margin: 10px 0 !important;
}

.margin0-10 {
    margin: 0 10px !important;
}

.l {
    text-align: left !important;
}

.c {
    text-align: center !important;
}

.r {
    text-align: right !important;
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

.pointer {
    cursor: pointer;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

a:hover {
    text-decoration: none;
    color: #333;
}

a, a:hover, a:active, a:focus {
    color: #333;
    text-decoration: none !important;
}

a:hover, a:focus {
    color: #ED7100
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web', Arial sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    padding-bottom: 10px;
    border-bottom: 1px dotted #E1E1E1;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 28px;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h3 {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 300;
}

h4 {
    color: #111;
    font-size: 18px;
    padding: 7px 0;
    font-weight: 600;
}

.widget h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h5 {
    color: #111;
    font-size: 16px;
    padding: 5px 0;
    font-weight: 600;
}

/* STYLE */
ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

.text {
    margin: 0
}

.text ul, .text ol {
    margin-left: 25px;
}

.text li {
    margin: 10px 0;
}

.container {
    max-width: none !important;
    width: 990px !important;
    padding: 0 10px;
}

/* header Logo - Arama - ve Sepetim alanı */
.header {
    margin-top: 10px;
}

.header .phoneNumber {
    font-size: 16px;
    font-weight: 600;
    color: #666;
    text-indent: 16px;
}

.header .userMenu > li {
    list-style: none;
    float: left;
}

.header .userMenu li a {
    padding: 0 5px;
}

.header .userMenu .dropdown-menu a {
    padding: 3px 6px;
    font-size: 13px;
}

.headerSearchCart .cartItems {
    font-size: 12px;
    margin-top: 2px;
}

.headerSearchCart #cartButton {
    font-weight: 700;
    border-radius: 50px !important;
    padding: 10px;
    width: 120px;
    margin-top: 6px;
}

.headerSearchCart .search {
    border: 4px solid #94D4F8;
    border-radius: 50px;
    margin-top: 6px;
    padding: 0 15px 0 0;
}

#catSelectBox .btn {
    width: 155px;
    position: relative;
    text-align: left;
}

#catSelectBox .btn .caret {
    position: absolute;
    right: 6px;
    top: 15px;
}

.search .form-control:focus {
    border-color: #FFF;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 rgba(102, 175, 233, .6);
}

.headerSearchCart .search .dropdown-toggle {
    border-color: #FFF;
    font-size: 15px;
    border-radius: 50px;
}

.headerSearchCart .search .btn-default:hover, .headerSearchCart .search .btn-default:active {
    background-color: #FFF;
}

.headerSearchCart .search .form-control {
    border: 1px solid #FFF;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0);
}

.headerSearchCart .search .btn-default:hover, .headerSearchCart .search .btn-default:focus, .headerSearchCart .search .btn-default.focus, .headerSearchCart .search .btn-default:active, .headerSearchCart .search .btn-default.active, .headerSearchCart .search .open > .dropdown-toggle.btn-default {
    border-color: #FFF;
    background-color: #FFF;
}

.headerSearchCart .searchButton {
    border-radius: 50px;
    width: 29px;
    height: 29px;
    display: inline-block;
    background-color: #ED7100;
    color: #FFF;
    position: relative;
    right: -13px;
}

.headerSearchCart .searchButton .glyphicon-search {
    font-size: 14px;
    margin-left: 8px;
    margin-top: 6px;
}

/* Menülü Alan */
.headerMenu {
    background-color: #1095E9;
    margin-top: 10px;
    color: #FFF;
    min-height: 10px
}

.headerMenu .NavigationPills li {
    list-style: none;
    float: left;
}

.headerMenu .NavigationPills li a {
    padding: 2px 10px;
    border-radius: 50px;
    background-color: #FFF;
    margin-right: 5px;
    display: inline-block;
}

.headerMenu .NavigationMessage a {
    color: #FFF;
    display: inline-block;
    height: 24px;
    line-height: 24px;
}

.headerMenu .NavigationMessage a:hover {
    color: #EEE;
}

.openMenu a {
    font-size: 16px;
    color: #FFF;
}

/* Genel Ürün Slider */

.col-xs-slider {
    width: 20%;
    float: left;
}

.itemImg {
    position: relative;
}

.addToCart {
    background: url(../img/widget-add-to-cart.png) 0 0 no-repeat;
    width: 101px;
    height: 24px;
    z-index: 0;
    display: none;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -50px;
}

.widgetSlider {
    border: 1px solid #E1E1E1;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
}

.widgetSlider .sliderArrow {
    background-color: #EEE;
    font-size: 50px;
    padding: 3px;
    height: 80px;
    display: block;
    border-radius: 5px;
    color: #FFF;
    margin-top: 58px;
}

.widgetSlider .sliderArrow:hover {
    background-color: #DDD;
}

.widgetSlider .sliderArrow i {
    margin-top: 11px;
}

.widgetSlider .col-xs-10 {
    height: 205px !important;
    overflow: hidden;
}

.widgetSlider .col-xs-slider {
    height: 200px;
    margin-bottom: 20px;
}

.widgetSlider .col-xs-slider .productImage {
    border: 1px solid #E1E1E1;
    display: block;
}

.widgetSlider .col-xs-slider .productImage img {
    width: 136px;
}

.widgetSlider .col-xs-slider .productName {
    display: block;
    margin-top: 7px;
    overflow: hidden;
    max-width: 136px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.widgetSlider .col-xs-slider .price {
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-top: 10px;
    line-height: 12px;
}

.widgetSlider .col-xs-slider .price .tl {
    font-size: 12px;
    font-weight: 700;
}

.widgetSlider .col-xs-slider .oldPrice {
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
    color: #888;
    display: block;
}

/* footer */
.footertop {
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    padding: 8px;
    font-size: 15px;
    font-weight: 600;
}

.footertop .helpDesk {
    width: 35px;
    height: 25px;
    float: left;
    background: url("../img/sprite.png") no-repeat -1px -24px;
    margin-top: 3px;
}

.footervalign {
    margin-top: 4px;
    margin-right: 10px;
    display: inline-block;
}

.footer-social {
    height: 22px;
    width: 22px;
    display: inline-block;
    background-image: url("../img/sprite.png");
    margin-left: 5px;
}

.footerSocialArea {
    float: right;
    display: inline-block;
    margin-top: 3px;
}

.footerSocialArea li {
    list-style: none;
    float: left;
}

.footerSocialArea ul {
    margin-bottom: 0;
}

.newsletter {
    border-radius: 50px;
    padding: 2px 4px;
    font-size: 12px;
    position: relative;
    left: -26px;
    top: 3px;
}

.footerCat li {
    list-style: none;
}

.footerCat li a {
    color: #999;
    font-weight: 600;
}

.social-facebook {
    background-position: -61px 0;
}

.social-twitter {
    background-position: -2px 0;
}

.social-google-plus {
    background-position: -92px 0;
}

.social-pinterest {
    background-position: -31px 0;
}

.social-blog {
    background-position: -122px 0;
}

.footerbottom {
    border-top: 1px solid #E1E1E1;
    padding: 8px;
    color: #999;
}

/* içerik sayfası */

.contentPage p {
    font-size: 14px;
    margin-bottom: 12px;
    line-height: 20px;
}

/* İçerik menüsü aktif */
.contentPage .list-group-item.active, .contentPage .list-group-item.active:hover, .contentPage .list-group-item.active:focus {
    z-index: 2;
    color: #FFF;
    background-color: #1095E9 !important;
    border-color: #1095E9 !important;
}

/* Kategori ve Ürün altı Popüler */
.widgetProductList {
    border: 1px solid #E1E1E1;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
}

.widgetProductList table {
    table-layout: fixed;
    display: table;
}

.widgetProductList td {
    vertical-align: middle !important;

}

.widgetProductList .productImage a {
    border: 1px solid #E1E1E1;
    display: block;
    width: 52px;
}

.widgetProductList .productImage img {
    width: 50px;
    height: 50px;
}

.widgetProductList .productName a {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.widgetProductList .productPrice {
    width: 130px;
    text-align: right;
}

.widgetProductList .price {
    font-size: 20px;
    font-weight: 700;
    line-height: 12px;
}

.widgetProductList .productPrice .tl {
    font-size: 12px;
}

.widgetProductList .oldPrice {
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
    color: #888;
    margin-bottom: 5px;
}

.widgetProductList .table {
    margin-bottom: 0;
}

/* yıldızlar */
.ratingComment {
    margin-top: 2px;
    display: inline-block;
    font-weight: 600;
    margin-left: 5px;
}

/* Bootstrap Düzeltmeleri */

.btn-warning {
    background-color: #ED7100;
    border-color: #ED7100;
}

.btn {
    border-radius: 24px;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    background-color: #F05C00;
    border-color: #F05C00;
}

.btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    background-image: none;
}

.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
    background-color: #F2A15D;
    border-color: #F2A15D;
}

.btn-warning .badge {
    color: #ED7100;
}

.modal-header h4 {
    padding: 0 0;
}

/* Menü */
.openMenu {
    position: relative;
}

.dropdownTitle a {
    position: relative;
    display: block;
    padding: 9px 0 8px;
}

.dropdownTitle a i.glyphicon {
    font-size: 15px;
    position: absolute;
    top: 12px;
    right: 8px;
}

.dropdownOpener {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    position: absolute;
    left: 10px;
    top: 40px;
    background: #FFF;
    border: 1px solid #1095E9;
    border-top: 0;
    width: 227px;
    z-index: 100;
    color: #FFF;
    padding: 10px;
    border-radius: 0 0 4px 4px;
}

.openMenu:hover .dropdownOpener, .openBlock {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.dropdownOpener > li {
    position: relative;
    list-style: none;
    border-bottom: 1px solid #E1E1E1;
}

.dropdownOpener > li:last-of-type {
    border-bottom: 0;
}

.dropdownOpener > li > a {
    color: #333;
    display: block;
    padding: 9px;
    cursor: pointer;
    font-size: 15px;

}

.dropdownOpener > li:hover {
    background-color: #54AFE8;
}

.subMenuContent {
    position: absolute;
    left: 205px;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    background: #FFF;
    border: 2px solid #54AFE8;
    padding: 10px;
    color: #333;
}

.subMenuItems {
    width: 230px;
    float: left;
}

.menuCat {
    width: 441px;
    float: left;
}

.dropdownOpener > li:hover .subMenuContent {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.subMenuContent li {
    list-style: none;
}

.subMenuContent li a {
    color: #666;
    font-size: 13px;
    padding-bottom: 2px;
    display: block
}

.subMenuContent li a:hover {
    color: #000;
}

.subMenuHeader {
    font-size: 16px;
    font-weight: 600;
    color: #CD1213;
    border-bottom: 1px dotted #E1E1E1;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.menuCat .catImg {
    border: 1px solid #F1F1F1;
    display: block;
}

.menuCat .catTitle {
    margin-bottom: 10px;
    font-size: 13px;
    color: #333;
    display: block;
    margin-top: 3px;
}

.navAds {
    padding: 8px 0;
}

aside.sticky {
    float: none;
    position: fixed !important;
    top: 20px;
    z-index: 100;
    left: auto;
}

/* Breadcrumbs */

.breadcrumbs {
}

.breadcrumbs > div {
    display: inline-block;
}

/* Buton düzeltme */
.btn-xs, .btn-group-xs > .btn {
    border-radius: 3px !important;
}

.messageBox:before,
.messageBox:after {
    display: table;
    content: " ";
}

.messageBox:after {
    clear: both;
}

.messageBox .alert {
    margin: 10px 0 0;
}

.messageBox .alert li {
    list-style: none;
}

.bigRoundStamp {
    /* global button class */
    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    background: #1095E9;
    box-shadow: 0 3px 3px #AAA;
    font-size: 30px;
    font-weight: normal;
    line-height: 70px;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
}

.modal-header {
    background: #54AFE8;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
}

.buttonFacebook {
    background-color: #3B5998 !important;
    color: #FFF !important;
    border-color: #3B5998 !important;
    font-weight: 300;
}

.buttonTwitter {
    background-color: #1DA1F2 !important;
    color: #FFF !important;
    border-color: #3B88C3 !important;
    font-weight: 300;
}

.buttonGooglePlus {
    background-color: #DD4B39 !important;
    color: #FFF !important;
    border-color: #DD4B39 !important;
    font-weight: 300;
}

/* Global Taksit Tablosu */
#fullInstallmentTable table tbody {
    border: 1px solid #DDD;
}

#fullInstallmentTable .CardFamily {
    height: 30px;
    border: 0;
}

#fullInstallmentTable .CardFamily-bonus {
    background: url(/img/bank_logo/bonus.jpg) top center;
}

#fullInstallmentTable .CardFamily-axess {
    background: url(/img/bank_logo/axess.jpg) top center;
}

#fullInstallmentTable .CardFamily-maximum {
    background: url(/img/bank_logo/maximum.jpg) top center;
}

#fullInstallmentTable .CardFamily-cardfinans {
    background: url(/img/bank_logo/cardfinans.jpg) top center;
}

#fullInstallmentTable .CardFamily-paraf {
    background: url(/img/bank_logo/paraf.jpg) top center;
}

#fullInstallmentTable .CardFamily-advantage {
    background: url(/img/bank_logo/advantage.jpg) top center;
}

#fullInstallmentTable .CardFamily-world {
    background: url(/img/bank_logo/world.jpg) top center;
}

#fullInstallmentTable .CardFamily-asyacard {
    background: url(/img/bank_logo/asya.jpg) top center;
}

/* DataGrid */
.cellPercentage, .cellMoney {
    white-space: nowrap;
}

/* Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: inherit;
    display: block;
}

.btn-filename {
    background-color: white !important;
    cursor: text !important;
}

.loading {
    min-height: 100px;
    background: url(../img/loading.gif) no-repeat center;
}

.alpha-list{
    list-style: outside none lower-alpha;
}
