@charset "UTF-8";

/* giriş için sayfa */
.textButton {
    margin-left: 10px;
    display: inline-block;
    padding: 8px 0;
}

label.error {
    font-weight: normal;
    color: darkred;
}

/* kullanıcı ayar sayfaları */
/*panel ve içerik sayfaları*/
.sideMenu h2 {
    text-align: left;
    padding-left: 10px;
}

.sideMenu ul a {
    margin-left: 10px;
}

.sideMenu ul a.active {
    color: #F60;
}

.sideMenu ul li {
    margin-bottom: 8px;
    list-style: none;
}

.sideMenu .divider {
    height: 1px;
    margin: 10px 0;
    overflow: hidden;
    background-color: #E5E5E5;
}

/*sipariş detayları*/
.contentPage .orderNumber {
    width: 150px;
}

.contentPage .orderDate {
    width: 170px;
}

.contentPage .orderPrice {
    width: 110px;
}

.contentPage .orderStatus {
}

.contentPage .orderDetails {
    width: 100px;
}

.contentPage .orderDetailGeneral {
    width: 182px;
    font-size: 14px;
    font-weight: 700;
}

.contentPage table.shipping {
    margin-bottom: 0;
}

.contentPage .oneOrder .img {
    width: 65px;
}

.contentPage .oneOrder .img img {
    border: 1px solid #E1E1E1;
}

.contentPage .oneOrder .link {
    width: 470px;
}

.contentPage .oneOrder .link a {
    max-width: 470px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
}

.contentPage .oneOrder .number {
    width: 50px;
    text-align: center;
}

.contentPage .oneOrder .price {
    font-weight: 700;
}

.contentPage .oneOrderView {
    padding: 10px;
    border: 1px solid #BBB;
    margin-bottom: 20px;
}

.contentPage .oneOrderView .oneOrder {
    margin-bottom: 0 !important;
}

.contentPage .prLabelArea {
    position: relative;
}

.contentPage .prLabel {
    position: absolute;
    display: block;
    right: 1px;
    top: 1px;
    height: 20px;
    padding: 5px 6px 6px 6px;
    font-size: 11px;
}

.contentPage .prLabel .label {
    padding: .3em .6em .3em;
}

.modal-content .menRadio {
    margin-left: 15px;
}

.contentPage .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.contentPage .addressInfo .name {
    max-width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.contentPage .addressInfo .address2 {
    max-width: 340px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.contentPage .section_buttons {
    position: absolute;
    right: 8px;
    top: 3px;
}

.contentPage .sm1Area {
    width: 72px;
}

.contentPage .sm3Area {
    width: 153px;
}

.panel-body ul, .panel-body ol {
    margin-left: 20px
}

.media-heading {
    padding: 0;
}

.bankAccounts .iban_number {
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

/* Adresler */
.box {
    border: 1px solid #CCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 20px;
}

.address-item {
    height: 250px;
}

.address-item-content {
    padding: 10px;
    text-align: center;
}

.address-item-content p {
    height: 165px;
    overflow-y: auto;
}

.address-item-new a {
    padding: 100px 10px 10px;
    display: block;
    text-align: center;
    height: 248px;
    cursor: pointer;
}

.address-buttons {
    position: absolute;
    bottom: 30px;
    right: 20px;
}
