@charset "UTF-8";

/* Sepet sayfası */
.shoppingCart, .checkoutContent {
    border: 1px solid #E1E1E1;
    padding: 10px;
    border-radius: 5px;
}

.cartItemTitles {
    border-bottom: 1px solid #E1E1E1;
    padding: 5px 0;
    color: #666666;
    font-size: 14px;
    font-weight: 600;
}

.cartOneProduct {
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 20px;
}

.cartOneProduct:last-child {
    border: 0;
    padding: 0;
}

.cartOneProduct > div:first-child {
    padding-left: 0;
}

.cartOneProduct > div:last-child {
    padding-right: 0;
}

.cartOneProduct a {
    color: #333333;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 7px;
    display: inline-block;
}

.cartOneProduct a:hover {
    color: #ED7100;
}

.cartOneProduct .itemPrice .price {
    color: #ED7100;
    font-size: 15px;
    font-weight: bold;
}

.cartOneProduct .itemPrice .old {
    color: #999999;
    font-size: 12px;
    font-weight: normal;
    text-decoration: line-through;
}

.cartOneProduct .itemPrice .gain {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
    margin-top: 8px;
}

.cartOneProduct .input-sm {
    text-align: center;
    font-size: 12px;
    padding: 5px 0 !important;
}

.cartOneProduct .itemQuantity a {
    color: #ED7100;
    font-size: 10px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 0;
}

.cartOneProduct .itemQuantity a:hover {
    color: #333333;
}

.cartOneProduct a.removeProduct {
    font-size: 10px;
    color: #999999;
    float: left;
    margin-bottom: 0;
}

.cartOneProduct a.removeProduct:hover {
    color: #FF0000;
}

.orderSummaryDetails {
    border: 2px solid #54AFE8;
    padding: 10px;
}

.cartPage .col-xs-4 h2.basketColor {
    background-color: #54AFE8;
}

/*.cartPage .col-xs-4 { background-color: #fffcfb}*/
.orderSummaryDetails .orderArea {
    padding-bottom: 5px;
    border-bottom: 1px dotted #E1E1E1;
}

.orderSummaryDetails .orderArea:last-of-type {
    padding-bottom: 0;
    border-bottom: 0;
}

.orderSummaryDetails .orderArea label {
    font-weight: normal;
}

.orderSummaryDetails .glyphicon-info-sign, .orderSummaryDetails .glyphicon-ok-circle, .orderSummaryDetails .glyphicon-bookmark, .orderSummaryDetails .glyphicon-th, .orderSummaryDetails .glyphicon-tag {
    font-size: 18px;
    color: #CCCCCC;
    margin-top: 2px;
}

.orderSummaryDetails .priceStrong {
    font-weight: 700;
}

.orderSummaryDetails .totalPrice {
    color: #ED7100;
}

.orderSummaryDetails .totalPrice span {
    font-size: 14px;
}

.orderSummaryDetails .totalPrice strong {
    font-size: 24px;
}

.orderSummaryDetails .totalPrice .Buy {
    font-size: 16px;
    font-weight: 600;
    width: 200px;
    margin: 10px 0;
}

.orderSummaryDetails .input-xs {
    height: 22px;
    width: 120px;
    padding: 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.orderSummaryDetails .couponCode, .orderSummaryDetails .shoppingVouchers, .orderSummaryDetails .financingOptions {
    color: #666666;
}

.orderSummaryDetails .couponCode .input-group, .orderSummaryDetails .shoppingVouchers a, .orderSummaryDetails .financingOptions a {
    margin: 5px 0;
    font-weight: 600;
}

.orderSummaryDetails .couponCode .input-group a {
    font-weight: 600;
}

.orderSummaryDetails .cartMiniButton {
    background-color: #CCCCCC;
    border: 1px solid #CCCCCC;
    border-radius: 0;
}

.orderSummaryDetails .cartMiniButton:hover {
    background-color: #999999;
    border: 1px solid #999999;
}

.cartProductOptions {
    margin-top: 30px;
}

.cartProductOptions .cartBottomProduct {
    border-bottom: 1px solid #F1F1F1;
    text-align: center;
}

.cartBottomProduct .prImage {
}

.cartBottomProduct .prName {
    height: 40px;
}

.cartBottomProduct .prName a {
    font-size: 13px;
    color: #666666;
}

.cartBottomProduct .prName a:hover {
    color: #333333;
}

.cartBottomProduct .prPrice {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}

.cartBottomProduct .prButton a {
    color: #999999;
}

#paymentOptions {
    border: 1px solid #E1E1E1;
    border-top: 0;
    padding: 0 10px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#paymentOptions h2 {
    padding-top: 10px;
}

#paymentOptions .input-lg, .checkoutContent .input-lg {
    border-radius: 6px;
    font-size: 18px;
    height: 46px;
    line-height: 1.33;
    padding: 10px 16px;
}

/* Adet dğeiştirme */
.productQuantity input {
    height: 22px;
    padding: 0 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.0);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.0);
}

.productQuantity .input-group {
    width: 85px !important;
}

.textquantity {
    font-size: 15px;
    font-weight: 600;
    color: #1095E9;
    padding-top: 1px;
    margin-right: 10px;
}

.orderBasketDetails {
    border: 1px solid #E1E1E1;
    padding: 10px;
}

.orderBasketDetails .table {
    margin-bottom: 0;
}

/* Sepetinizdeki Ürünler */

.orderBasketDetails .inBasketPr {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    max-width: 200px;
}

.checkoutContent .generalCartTitle {
    font-weight: 600;
    font-size: 16px;
    color: #666666;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #E1E1E1;
}

/* adımlar ödeme */
.checkoutStep {
    margin-bottom: 20px;
}

.checkoutStep li {
    list-style: none;
    float: left;
}

.checkoutStep li a {
    display: block;
    padding: 14px 31px;
    margin-top: 18px;
}

.checkoutStep span {
    visibility: hidden;
}

.checkoutStep1 {
    background-image: url("../img/checkout-step.png");
    height: 64px;
    width: 624px;
    display: inline-block;
}

.checkoutStep2 {
    background: url("../img/checkout-step.png") center;
    height: 64px;
    width: 624px;
    display: inline-block;
}

.checkoutStep3 {
    background: url("../img/checkout-step.png") bottom;
    height: 64px;
    width: 624px;
    display: inline-block;
}

/* ödeme bilgileri */

.orderAdBanner {
    border-bottom: 2px solid #F5F5F5;
    border-left: 2px solid #F5F5F5;
    border-right: 2px solid #F5F5F5;
    padding: 6px;
}

.checkoutContent .form-horizontal .form-group {
    margin-left: -5px;
    margin-right: -5px;
}

.checkoutContent .creditTitle {
    margin-bottom: 5px;
    font-weight: bold;
    display: inline-block;
}

.checkoutContent .formTitle {
    margin-bottom: 0 !important;
}

#creditcard table .radio {
    margin-top: 0;
    margin-bottom: 0;
}

#creditcard table .optionBold {
    font-weight: bold;
}

#InstallmentOptions tbody > tr {
    cursor: pointer;
}

.contractInfo {
    height: 150px;
    width: 100%;
    border: 1px solid #E1E1E1;
    overflow: auto;
    padding: 10px;
}

/* ödeme ekranındaki düzeltme */
#creditcard .col-sm-3 {
    padding-right: 2px !important;
}

.selected-cargo {
    border-color: #8A6D3B !important;
}

/* wire transfer */
#bankAccounts label {
    display: block;
    cursor: pointer;
    font-weight: 600;
}

#moneyTransferInfo {
    margin: 0
}

#moneyTransferInfo ul {
    margin-left: 25px;
}

#moneyTransferInfo li {
    margin: 10px 0;
    list-style: circle;
}

#CardPreview {
    font-family: "Courier New", Courier, monospace;
    position: relative;
    margin: 25px auto 0;
    width: 264px;
    height: 165px;
    z-index: -1;
    -ms-perspective: 600px;
    -moz-perspective: 600px;
    -webkit-perspective: 600px;
    perspective: 600px;
}

#CardPreview .focus {
    background: #FFFABB;
}

#CardPreview .error {
    background: #D86F6F;
}

#CardFaces .face {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    -ms-transition: all .6s linear;
    -moz-transition: all .6s linear;
    -webkit-transition: all .6s linear;
    transition: all .6s linear;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#CardFaces .front {
    background: url(../img/credit-card.png) top left no-repeat;
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

#CardFaces .back {
    background: url(../img/credit-card.png) bottom left no-repeat;
    -ms-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

#CardFaces.flip .front {
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#CardFaces.flip .back {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

#CardPreview .face div {
    padding: 0 3px;
    position: absolute;
}

#CardPreview .Owner {
    bottom: 10px;
    left: 20px;
    font-size: 15px;
}

#CardPreview .Number {
    top: 88px;
    left: 22px;
    font-size: 19px;
    font-weight: bold;
    min-width: 220px;
}

#CardPreview .Expiry {
    top: 116px;
    left: 103px;
    font-size: 11px
}

#CardPreview .front .Cvc {
    top: 76px;
    right: 30px;
    font-size: 11px;
    display: none;
}

#CardPreview .back .CvcPlace {
    top: 60px;
    right: 15px;
    font-size: 11px;
    display: inline-block;
}

#CardPreview.CardType-Amex .front .Cvc {
    display: inline-block !important;
}

#CardPreview.CardType-Amex .back .Cvc {
    display: none !important;
}

#CardPreview .BrandImg {
    position: absolute;
    left: 17px;
    top: 8px;
    display: inline-block;
    width: 100px;
    height: 32px;
    overflow: hidden;
    text-align: left;
    text-indent: -999px;
    background: url(../img/card-brands.png) 0 0 no-repeat;
}

.CardBrand-Bonus .BrandImg {
    background-position: 0 -32px !important;
}

.CardBrand-Axess .BrandImg {
    background-position: 0 -64px !important;
}

.CardBrand-Maximum .BrandImg {
    background-position: 0 -96px !important;
}

.CardBrand-CardFinans .BrandImg {
    background-position: 0 -128px !important;
}

.CardBrand-Paraf .BrandImg {
    background-position: 0 -160px !important;
}

.CardBrand-World .BrandImg {
    background-position: 0 -192px !important;
}

#CardPreview .TypeImg {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: inline-block;
    width: 54px;
    height: 32px;
    overflow: hidden;
    text-align: left;
    text-indent: -999px;
    background: url(../img/card-types.png) 0 0 no-repeat;
}

.CardType-Visa .TypeImg {
    background-position: 0 -32px !important;
}

.CardType-Master .TypeImg {
    background-position: 0 -64px !important;
}

.CardType-Maestro .TypeImg {
    background-position: 0 -96px !important;;
}

.CardType-Amex .TypeImg {
    background-position: 0 -128px !important;;
}

.CardType-Discover .TypeImg {
    background-position: 0 -160px !important;;
}

.CardType-Jcb .TypeImg {
    background-position: 0 -192px !important;;
}

.CardType-DinersClub .TypeImg {
    background-position: 0 -224px !important;;
}

ul.card_logos {
    display: inline-block;
    margin: 0;
    padding: 0;
}
